WARBLER_DATABASE_HOST=
WARBLER_DATABASE_PORT=
WARBLER_DATABASE_USER=
WARBLER_DATABASE_PASSWORD=
WARBLER_DATABASE_NAME=

# OR WARBLER_SQLITE_PATH=

WARBLER_LOG_PATH=/var
SLACK_WEBHOOK_URL_INFOS=

APP_PATH=/var/warbler
SRC_PATH=/var/warbler
